@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-button {
    padding: 10px 20px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: 3.6rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
  }
  
  .custom-button span {
    transition: all 0.3s;
    
  }
  
  .custom-button:hover span {
    text-shadow: 0px 0px 20px rgba(255,255,255,0.9);
    /* color: rgb(174, 99, 99); */
  }
  
  .custom-button:hover::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    z-index: -1;
    transition: all 0.3s;
    opacity: 0.7;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
  }
  
  .sparkling-text{
    background:  rgba(255, 255, 255);
    text-shadow: 2px 2px rgba(255,255,255, 0.3);
    background-size: 200%;
    background-clip: text;
    transition: all 0.3s;
  }
  .sparkling-text::before{
    content: "";
    position: absolute;
    top: -5px;  
    left: -5px;
    right: -5px;
    bottom: -5px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    z-index: -1;
    transition: all 0.3s;
    opacity: 0.7;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
  }

  @media (max-width: 768px) {
    .sparkling-text {
       font-size: 1.2rem;
     }
   }
   
   @media (max-width: 480px) {
    .sparkling-text {
       font-size: 1rem;
     }
   }

   .small-button{
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: none;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
   }